text{
	font-family: Helvetica, sans-serif;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 120px;
	height: 65px;
	padding: 2px;
	font: 12px sans-serif;
	color: #ffffff;
	background: rgb(58, 60, 61);
	border: 2px solid black;
	border-radius: 8px;
	pointer-events: none;
  }

div.tooltip2 {
	position: absolute;
	text-align: center;
	width: 90px;
	height: 37px;
	padding: 2px;
	font: 12px sans-serif;
	color: #ffffff;
	background: rgb(58, 60, 61);
	border: 2px solid black;
	border-radius: 8px;
	pointer-events: none;
}

div.tooltip3 {
	position: absolute;
	text-align: center;
	width: 170px;
	height: 55px;
	padding: 2px;
	font: 12px sans-serif;
	color: #ffffff;
	background: rgb(58, 60, 61);
	border: 2px solid black;
	border-radius: 8px;
	pointer-events: none;
}

div.tooltip4 {
	position: absolute;
	text-align: center;
	width: 170px;
	height: 40px;
	padding: 2px;
	font: 12px sans-serif;
	color: #ffffff;
	background: rgb(58, 60, 61);
	border: 2px solid black;
	border-radius: 8px;
	pointer-events: none;
}

div.tooltip5 {
	position: absolute;
	text-align: center;
	width: 170px;
	height: 80px;
	padding: 2px;
	font: 12px sans-serif;
	color: #ffffff;
	background: rgb(58, 60, 61);
	border: 2px solid black;
	border-radius: 8px;
	pointer-events: none;
}

div.tooltip6 {
	position: absolute;
	text-align: center;
	width: 170px;
	height: 90px;
	padding: 2px;
	font: 12px sans-serif;
	color: #ffffff;
	background: rgb(58, 60, 61);
	border: 2px solid black;
	border-radius: 8px;
	pointer-events: none;
}